
# Python build and cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.pytest_cache/

# Instructions
Code Exercise_ LLM-Assisted Cyber Threat Intelligence for 5G O-RAN Security.pdf
pdf_text.txt